*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,body{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
}
.main{
  position: relative;
  height: 500px;
  width: 300px;
  border: 2px solid black;
}
.head{
  width: 100%;
  text-align: center;
  padding: 5px 0px;
}
.content{
  width: 100%;
  margin-top: 15%;
  border: 2px solid green;
  text-align: center;
  padding: 5px 0px;
  color:black;
  font-size: 10px;
}
.btn1{
  position: absolute;
  top: 90%;
  left: 53%;
  width: 30%;
  height: 30px;
  border: 2px solid red;
}
.btn2{
  position: absolute;
  top: 90%;
  left: 20%;
  width: 30%;
  height: 30px;
  border: 2px solid red;
}